body{
  /* background-color:ivory; */
}
.container {
  
}

.login-form {
  max-width: 300px;
  padding: 10px;
  margin: auto;
  /* background-color: white; */

  
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
