.App {
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

html,
body,
main,
.App,
#root {
  height: 100%;
}

.so {
  background-color: white;
  color: red;
  font-size: 2em;
}

.ant-modal-mask {
  z-index: 2001;
}

.ant-modal-wrap {
  z-index: 2002;
}

.ant-select-dropdown {
  z-index: 2003;
}
.ant-dropdown {
  z-index: 2003;
}

.ant-popconfirm {
  z-index: 4000;
}

.geom {
  padding-right: 20px;
}


.ant-upload-list-item-actions a {
  display: none;
}